@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}



body {
    background-color: #2f2325;
    /* background-color: #000000; */
    /* font-family: "poppins", sans-serif; */
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 700;
    /* color: #00ff03; */
   
}

svg:hover {
    cursor: pointer;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
}




/* popup start */
.popup {
    padding: 20px 0px;
}


.docker {
    width: 40%;
    margin: 0 auto;
}

.popup-wrapper {
    background-color: rgb(34, 34, 34);
    padding: 20px 0px;
}

.popup-wrapper>div:nth-child(1) {
    display: flex;
    justify-content: center;
    position: relative;
}

.popup-wrapper>div:nth-child(1)>h3 {
    /* color: #f4010c; */
    color: #f9c352;
}

.popup-wrapper>div:nth-child(1)>svg:nth-child(2) {
    position: absolute;
    right: 10px;
    top: -10px;
}

.popup-wrapper>form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #c2c5bc;
    font-weight: 400;
    padding: 0px 20px;
}

.popup-wrapper>form>input {
    width: 95%;
    border: none;
    padding: 8px 10px;
    background-color: rgb(51, 51, 51);
    color: #c2c5bc;
}

.popup-wrapper>form>input:focus {
    outline: none;
}

.popup-wrapper>form>button {
    width: 95%;
    /* color: #f9c352; */
    background-color: #f9c352;
    color: #c2c5bc;
    padding: 10px 8px;
    border: none;
    cursor: pointer;
    font-family: "Oswald", sans-serif;

}

/* popup end */


/* Box start */
.box {
    margin-bottom: 30px;
    padding: 0 20px;
}


.box-wrapper {
    display: flex;
    justify-content: space-between;
}

.box-wrapper>div {
    border: 2px solid #f9c352;
    padding: 15px 30px;
    border-radius: 10px;
    font-weight: 700;
    color: #c2c5bc;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 350px;

}

.box-wrapper>div>img {
    border-radius: 5px;
}
/* #c2c5bc */
.box-wrapper>div>h1 {
    font-weight: 500;
  
}

.box-wrapper>div>div:nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;

}


.box-wrapper>div>div:nth-child(4)>button {
    border: none;
    background-color: #f9c352;
    padding: 8px;
}

.box-wrapper>div>div:nth-child(4)>button>a {
    color: #c2c5bc;
}

.container>h1 {
    text-align: center;
    margin: 40px 0px;
    color: #f9c352;

}




/* Box End */





/* media query starts */


@media screen and (max-width:1000px) {

    .box-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .box-wrapper>div {
        width: 355px;
    }

    .docker {
        width: 355px;
    }

}

@media screen and (max-width:600px) {


    .docker {
        width: 85%;
    }

}

@media screen and (max-width:350px) {
    .box-wrapper>div {
        width: 100%;
    }
}

/* media query ends */