@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* For Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}




body {
    background-color: #2f2325;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 700;
}

svg:hover {
    cursor: pointer;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
.bridal-lash{
  margin: 10px 0;
  padding: 0px 15px;
 display: none;
}

.bridal-lash-wrapper>span {
    font-family: "Dancing Script", cursive;
    font-size: 35px;
    font-weight: 400;
    color: #f9c352;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    height: 45px;
    border-bottom: 4px solid #f9c352;

}

.bridal-lash-wrapper{
      display: flex;
      justify-content: space-between;
      color: #f9c352;
    align-items: center;
    }

.bridal-lash-wrapper>a:nth-child(2){
    color: white;
   cursor: pointer;
}
.bridal-lash-wrapper>a:nth-child(2):hover{
    color: #f9c352;

}

/* popup start */
.popup {
    padding: 30px 0px;
}


.docker {
    width: 40%;
    margin: 0 auto;
}

.popup-wrapper {
    background-color: rgb(34, 34, 34);
    padding: 20px 0px;
}

.popup-wrapper>div:nth-child(1) {
    display: flex;
    justify-content: center;
    position: relative;
}

.popup-wrapper>div:nth-child(1)>h3 {
    color: #f9c352;
}

.popup-wrapper>div:nth-child(1)>svg:nth-child(2) {
    position: absolute;
    right: 10px;
    top: -10px;
}

.popup-wrapper>form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    font-weight: 400;
    padding: 0px 20px;
}

.popup-wrapper>form>input {
    width: 95%;
    border: none;
    padding: 8px 10px;
    background-color: rgb(51, 51, 51);
    color: white;
}

.popup-wrapper>form>input:focus {
    outline: none;
}

.popup-wrapper>form>button {
    width: 95%;
    background-color: #f9c352;
    color: white;
    font-weight: 600;
    padding: 10px 8px;
    border: none;
    cursor: pointer;
    font-family: "Oswald", sans-serif;

}

/* popup end */


/* Box start */
.box {
    margin-bottom: 30px;
    padding: 0 20px;
  display: none;
}


.box-wrapper {
    display: flex;
    justify-content: space-between;
}

.box-wrapper>div {
    border: 2px solid #f9c352;
    padding: 15px 30px;
    border-radius: 10px;
    font-weight: 700;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 350px;

}
.box-wrapper>div>div:nth-child(1){
    display: flex;
    flex-direction: column;
}


.box-wrapper>div>div:nth-child(1) >img {
    border-radius: 5px;
}
.box-wrapper>div>div:nth-child(2)>h1 {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
}

.box-wrapper>div>div:nth-child(2) {
    display: flex;
    flex-direction: column;
      


}
.box-wrapper>div>div:nth-child(2)>div {
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-weight: 600;
   font-size: 18px;
}
.box-wrapper>div>div:nth-child(2)>div>div:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 8px;
}

.inputbox{
    width: 80%;
    border: none;
    padding: 8px 10px;
    background-color: rgb(51, 51, 51);
    color: white;
}

.inputbox:focus{
    outline: none;
}

.box-wrapper>div>div:nth-child(3)>button {
    border: none;
    background-color: #f9c352;
    padding: 8px;
}

.box-wrapper>div>div:nth-child(3)>button>a {
    color: white;
    font-weight: 600;

}

.container>h1 {
    text-align: center;
    margin: 40px 0px;
    color: #f9c352;

}




/* Box End */





/* media query starts */


@media screen and (max-width:1000px) {

    .box-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

 

    .docker {
        width: 355px;
    }

}

@media screen and (max-width:600px) {

    .docker {
        width: 85%;
    }

}

@media screen and (max-width:350px) {
    .box-wrapper>div {
        width: 100%;
    }
    .box-wrapper>div >img{
      height: 100%;
    }
}

/* media query ends */