* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}



body {
    background-color: #2f2325;
    font-family: "Merriweather Sans", sans-serif;
    font-style: normal;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


/* header starts */

.bridal-lash {
    padding: 15px 15px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #2f2325;

}


.bridal-lash-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;


}

.bridal-lash-wrapper>span {
    font-family: "Dancing Script", cursive;
    font-size: 35px;
    font-weight: 400;
    color: #f9c352;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    height: 45px;
    border-bottom: 4px solid #f9c352;
    /* animation: slidedownY 1s ease-in-out forwards; */

}

.bridal-lash-wrapper>nav>div {
    display: none;
}

.bridal-lash-wrapper>nav {
    display: flex;
    align-items: center;
    gap: 20px;
    /* animation: slidedownX 1s ease-in-out forwards; */


}
.bridal-lash-wrapper>nav>li:nth-child(2)>a{
  color: #f9c352 ;

}
.bridal-lash-wrapper>nav>li:nth-child(2)>a:hover{
  color: #ffffff;
}

.bridal-lash-wrapper>nav>li>a {
    color: #ffffff;
    letter-spacing: 1px;
    position: relative;

}

.bridal-lash-wrapper>nav>li>a:hover {
    color: #f9c352;
}

.bridal-lash-wrapper>nav>li>a::after {
    content: '';
    background-color: #f9c352;
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transition: transform 300ms ease-in;


}

.bridal-lash-wrapper>nav>li>a:hover::after {
    transform: scaleX(1);


}


.bridal-lash-wrapper>div {
    display: none;

}



/* header ends */

/* banner section starts */


 
 
  
  
/* banner section ends */

 
  



  
 




/* packages starts */



.packages {
    margin: 40px 0;
    padding: 0 15px;
    padding-top: 80px;


}

.packages>.container>h1 {
    color: #f9c352;
    margin-bottom: 30px;
    /* animation: slidedownX 1s ease-in-out forwards; */

}

.packages-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.packages-wrapper>div {

    width: 30%;
    background-color: #4D3B3B;
    border: 3px solid #4D3B3B;
    border-radius: 5px;
    padding: 10px;
    /* animation: slidedownY 1s ease-in-out forwards; */

    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.2);



}


.packages-wrapper>div>div:nth-child(1)>img {
    border-radius: 10px;
}

.packages-wrapper>div>h3 {
    color: #fff;
    margin-top: 10px;
    letter-spacing: 2px;
    font-weight: 300;
    height: 46px;
}

.packages-wrapper>div>div:nth-child(3) {
    display: flex;
    align-items: center;
    gap: 5px;
}

.packages-wrapper>div>div:nth-child(3)>span {
    color: #f9c352;
    margin: 15px 0;
    font-size: 20px;
    font-weight: 300;
}

.packages-wrapper>div>button {
    color: #fff;
    background-color: #F9C352;
    font-size: 18px;
    font-weight: 300;
    text-shadow: 0 0 20px #000;
    letter-spacing: 1px;
    padding: 8px 25px;
    border-radius: 5px;
    border: none;
    width: 100%;
    cursor: pointer;


    /* position: relative; */
    /* overflow: hidden; */
    /* transition: color 0.7s ease; */


}

/* .packages-wrapper>div>button::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #D48A25; 
    transition: width 0.7s ease;
    z-index: 1;
}
.packages-wrapper>div>button:hover::before {
    width: 100%;


}




.packages-wrapper>div>button::after{
    content: 'ADD TO LIST';
    position: relative;
    z-index: 2;

    color: #fff;
} */






/* packages ends */



/* alert start */

/* success alert */
.alert {
    background: #d4edda; /* Light green background for success */
    padding: 20px 40px;
    border-radius: 4px;
    border-left: 8px solid #28a745; /* Green border for success */
    display: none;
    justify-content: space-between;
  margin-bottom: 20px;
  width:50%;
  animation: show_slide 1s ease forwards;
  position: fixed; /* Use fixed or absolute to position relative to viewport */
  top: 80px; /* Adjust as needed */
  left: -10px;
  z-index: 1000;
}
  .alert >div{
     display: flex;
       gap: 10px;
    }


  .alert>div >svg:nth-child(1) ,.alert>div>div >svg:nth-child(1){
    color: #28a745; /* Green color for success */
 cursor: pointer;  
}
  
  .msg {
    font-size: 18px;
    color: #155724; /* Dark green text color for success */
  }



 
  @keyframes show_slide {
    0%{
      transform: translateX(-100%);
    }
    100%{
      transform: translateX(100%);
    }
  }
  












/* alert end */



/* customize section starts */


.customize {
    margin: 40px 0;
    padding: 0 15px;


}

.customize>.container>h1 {
    color: #f9c352;
    margin-bottom: 30px;
    /* animation: slidedownY 1s ease-in-out forwards; */

}

.customize-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.customize-wrapper>div {

    width: 30%;
    background-color: #4D3B3B;
    border: 3px solid #4D3B3B;
    border-radius: 5px;
    padding: 10px;
    /* animation: slidedownY 1s ease-in-out forwards; */

    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.2);



}


.customize-wrapper>div>div:nth-child(1)>img {
    border-radius: 10px;
}

.customize-wrapper>div>h3 {
    color: #fff;
    margin-top: 10px;
    letter-spacing: 2px;
    font-weight: 300;
}

.customize-wrapper>div>div:nth-child(3) {
    display: flex;
    align-items: center;
    gap: 5px;
}

.customize-wrapper>div>div:nth-child(3)>span {
    color: #f9c352;
    margin: 15px 0;
    font-size: 20px;
    font-weight: 300;
}

.customize-wrapper>div>button {
    color: #fff;
    background-color: #F9C352;
    font-size: 18px;
    font-weight: 300;
    text-shadow: 0 0 20px #000;
    letter-spacing: 1px;
    padding: 8px 25px;
    border-radius: 5px;
    border: none;
    width: 100%;
    cursor: pointer;


    /* position: relative; */
    /* overflow: hidden; */
    /* transition: color 0.7s ease; */


}

/* .customize-wrapper>div>button::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #D48A25; /* Color filling */
    /* transition: width 0.7s ease; */
    /* z-index: 1; */
/* } */
/* .customize-wrapper>div>button:hover::before {
    width: 100%;


} */ */




/* .customize-wrapper>div>button::after{
    content: 'ADD TO LIST';
    position: relative;
    z-index: 2;

    color: #fff;
} */












/* customize section ends */



/* products section starts */

.products {
    margin: 40px 0;
    padding: 0 15px;
}

.products>.container>h1 {
    color: #f9c352;
}

.products-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
}

.products-wrapper>div {
    text-align: center;
    align-content: center;
    width: 30%;
    height: 165px;
    border: 3px solid #f9c352;
    clip-path: polygon(96% 0%, 100% 15%, 100% 100%, 8% 100%, 0% 95%, 0% 0%);
    padding: 20px 10px;
}

.products-wrapper>div>h4 {
    color: white;
    letter-spacing: 3px;
    font-weight: 300;
}

.products-wrapper>div:nth-child(3)>div {
    height: 100px;
    align-content: center;
}


/* products section ends */




/* list section starts */


.list {
    display: none;
    padding: 0 15px;
    margin: 40px 0;


}
.list>.container>div:nth-child(1){
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.list>.container>div:nth-child(1)>h1 {
    color: #f9c352;

}

.list-wrapper {
    padding: 40px 15px;
    background-color: #4D3B3B;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;


}

.list-wrapper>div {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.list-wrapper>div>div:nth-child(1) {
    width: 15%;
}

.list-wrapper>div>div:nth-child(1)>img {
    border-radius: 10px;
}


.list-wrapper>div>div:nth-child(2) {
    width: 70%;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list-wrapper>div>div:nth-child(2)>div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-wrapper>div>div:nth-child(2)>div:nth-child(1)>h4 {
    color: #fff;
    font-size: 15px;
}

.list-wrapper>div>div:nth-child(2)>div:nth-child(1)>div>span {
    color: #fff;
    font-size: 15px;
}

.list-wrapper>div>div:nth-child(2)>div:nth-child(1)>div {
    display: flex;
    align-items: center;
}

.list-wrapper>div>div:nth-child(2)>div:nth-child(2) {
    display: flex;
    gap: 50px;
    align-items: center;

}

.list-wrapper>div>div:nth-child(2)>div:nth-child(2)>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 5px 5px;
    width: 100px;

}

.list-wrapper>div>div:nth-child(2)>div:nth-child(2)>span {
    background-color: black;
    color: #fff;
    padding: 6px 25px;
    border-radius: 5px;
    cursor: pointer;

}



.estimate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: #f9c352;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

}

.estimate>span:nth-child(2) {
    display: flex;
    align-items: center;

}

.estimate>span:nth-child(1),
.estimate>span:nth-child(2)>span {
    font-size: 2vw;
}






.plus,.minus{
    cursor: pointer;
}






#whatsapp-share{
    background: linear-gradient(to bottom, #25D366, #1DAB57);
    color: #fff;
    border: none;
    padding: 10px 10px;
    border-radius: 35px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 250px;

    margin-right: 10px;
  }
  
  #whatsapp-share:hover {
    background-color: #1DAB57;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
  }
  
  #whatsapp-share:active {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transform: scale(0.95);
  }






/* list section ends */


/* contact start */
.contact{
    padding: 15px 15px;
}

.contact-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact-wrapper >div:nth-child(2){
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    color: #fff;
   order: 3;
}
.contact-wrapper >div:nth-child(2)>p{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 14px;
}

.contact-wrapper >div:nth-child(2)>h1:nth-child(1),.contact-wrapper >div:nth-child(3)>h1:nth-child(1){
  font-size: 24px;
  font-weight: 400;
}

.contact-wrapper >div:nth-child(3){
    display: flex;
    flex-direction: column;
    align-items: center;
  color: #fff;
  gap: 7px;
  order: 2;
}

.contact-wrapper >div:nth-child(3)>div:nth-child(2){
   display: flex;
   flex-direction: column;
   align-items: center;
  gap: 5px;
}

.contact-wrapper >div:nth-child(3)>div:nth-child(2)>span{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
}
.contact-wrapper >div:nth-child(1)>span{
    display: none;
}

/* contact end */

/* arrow start */
.arrow-wrapper{
   text-align: right;
   position: fixed;
    z-index: 1000;
    right: 20px;
    bottom: 25px;
 cursor: pointer;
}
.arrow-wrapper >svg{
      background-color: #ffffff;
      width: 40px;
      height: 40px;
    border-radius: 50%;      
  cursor: pointer;
}

/* arrow end */

/* foot start */
.foot{
    background-color: black;
    padding: 25px 15px;

}
.foot-wrapper{
     display:flex;
     flex-direction: column;
     align-items: center;
     color: #fff;
     font-family: "poppins", sans-serif;  
     gap: 10px;
    }

/* foot end */

/* animation starts */

@keyframes slidedownY {
    0% {
        opacity: 0;
        transform: translateY(-60px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slidedownX {
    0% {
        opacity: 0;
        transform: translateX(-60px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}




/* animation ends */




/* media query starts */


@media screen and (max-width:1000px) {
    .bridal-lash-wrapper>nav>div {
        display: flex;
        margin-top: -10px;
    }

    .bridal-lash-wrapper>nav div>span {
        color: #f9c352;
        font-family: "Dancing Script", cursive;
        font-size: 35px;
        font-weight: 400;
        color: #f9c352;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        height: 45px;
    }

    .bridal-lash-wrapper>nav {
        position: absolute;
        flex-direction: column;
        top: 0px;
        left: -100%;
        width: 60%;
        align-items: center;
        background-color: #2f2325;
        height: 100vh;
        padding-left: 20px;
        padding-top: 25px;
        gap: 40px;
        z-index: 1000;
    }


    .bridal-lash-wrapper>div {
        display: flex;
        animation: slidedownY 1s ease-in-out forwards;

    }

    .bridal-lash-wrapper>span {
        font-size: 25px;

    }

    .packages {
        padding-top: 55px;
    }

    .packages-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .packages-wrapper>div {
        width: 60%;

    }


    .customize-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .customize-wrapper>div {
        width: 60%;

    }


    .products {
        padding: 0 15px;

    }

    .products-wrapper {
        flex-direction: column;
        gap: 30px;
        padding: 30px 15px;

    }

    .products-wrapper>div {
        width: 60%;
    }

    .list {
        padding: 0 15px;
    }
    .list-wrapper>div>div:nth-child(2)>div:nth-child(1)>h4 {
        font-size: 12px;
    }
    
    .list-wrapper>div>div:nth-child(2)>div:nth-child(1)>div>span {
        font-size: 12px;
    }

    .contact-wrapper{
     flex-direction: column;
     gap: 25px;
    }
    .contact-wrapper >div:nth-child(1)>img{
  display: none;
    }
    .contact-wrapper >div:nth-child(1)>span{
     display: block;
        font-family: "Dancing Script", cursive;
        font-size: 35px;
        font-weight: 400;
        color: #f9c352;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        height: 45px;
        border-bottom: 4px solid #f9c352;
        animation: slidedownY 1s ease-in-out forwards;
    
    }


}

@media screen and (max-width:600px) {
    .packages-wrapper>div {
        width: 95%;

    }


    .customize-wrapper>div {
        width: 95%;

    }

    .products-wrapper>div {
        width: 90%;
    }


    .list-wrapper {
        padding: 10px;
    }

    .list-wrapper>div {
        align-items: center;
    }

    .list-wrapper>div>div:nth-child(2) {
        padding: 5px 10px;
        gap: 10px;
    }

    .list-wrapper>div>div:nth-child(2)>div:nth-child(1) {
        flex-direction: column-reverse;
        align-items: start;

    }

    .list-wrapper>div>div:nth-child(2)>div:nth-child(2) {
        gap: 10px;

    }

    .list-wrapper>div>div:nth-child(2)>div:nth-child(1)>h4,
    .list-wrapper>div>div:nth-child(2)>div:nth-child(1)>div>span,
    .list-wrapper>div>div:nth-child(2)>div:nth-child(2)>span,
    .estimate>span:nth-child(1),
    .estimate>span:nth-child(2)>span {
        font-size: 15px;
    }

    .list-wrapper>div>div:nth-child(1) {
        width: 30%;
        height: 50%;
    }


    .alert {

  width: 80%;
  animation: showslider 1s ease forwards;
align-items: center;
    }
    .alert>div {
        align-items: center;
    }
  .msg{
    font-size: 12px;
  }  
    @keyframes showslider {
        0%{
          transform: translateX(-80%);
        }
        100%{
          transform: translateX(25%);
        }
      }

}



/* media query ends */