* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}



body {
    background-color: #2f2325;
    font-family: "Merriweather Sans", sans-serif;
    font-style: normal;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.bridal-lash {
    padding: 15px 0px;
}


.bridal-lash-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 15px;

}

.bridal-lash-wrapper>span {
    font-size: 35px;
    font-weight: bold;
    color: #f9c352;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    height: 45px;
    border-bottom: 4px solid #f9c352;
    animation:slidedownY 1s ease-in-out forwards ;

}
   

.bridal-lash-wrapper>nav {
    display: flex;
    align-items: center;
    gap: 20px;
    animation:slidedownX 1s ease-in-out forwards ;


}

    @keyframes slidedownY{
        0%{
            opacity: 0;
            transform: translateY(-60px);
        }
        100%{
            opacity: 1;
            transform: translateY(0);
        }
    }
    @keyframes slidedownX{
        0%{
            opacity: 0;
            transform: translateX(-60px);
        }
        100%{
            opacity: 1;
            transform: translateX(0);
        }
    }


.bridal-lash-wrapper>nav>li>a {
    color: #ffffff;
    letter-spacing: 1px;
}


.bridal-lash-wrapper>nav>li>a:hover {
    color: #f9c352;
}


.bridal-lash-wrapper>div {
    display: none;
    
}



@media screen and (max-width:1000px){
   



    .bridal-lash-wrapper>nav {
        position: absolute;
        flex-direction: column;
        top: 50px;
        left: -60%;
        width: 50%;
        align-items: start;
        background-color: #2f2325;
        height: 100vh;
        padding-left: 20px;
        padding-top: 20px;
        gap: 40px;
    }

    .bridal-lash-wrapper>div {
        display: flex;
        animation:slidedownY 1s ease-in-out forwards ;

    }
    .bridal-lash-wrapper>span {
        font-size: 25px;
    }


}