* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}



body {
    background-color: #2f2325;
    font-family: "Merriweather Sans", sans-serif;
    font-style: normal;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


/* header starts */

.bridal-lash {
    padding: 15px 15px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #2f2325;

}


.bridal-lash-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;


}

.bridal-lash-wrapper>span {
    font-size: 35px;
    font-weight: bold;
    color: #f9c352;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    height: 45px;
    border-bottom: 4px solid #f9c352;
    animation:slidedownY 1s ease-in-out forwards ;

}
   

.bridal-lash-wrapper>nav {
    display: flex;
    align-items: center;
    gap: 20px;
    animation:slidedownX 1s ease-in-out forwards ;


}

    


.bridal-lash-wrapper>nav>li>a {
    color: #ffffff;
    letter-spacing: 1px;
}

.bridal-lash-wrapper>nav>li:nth-child(1)>a:nth-child(1){
    color: #f9c352;

}
.bridal-lash-wrapper>nav>li>a:hover {
    color: #f9c352;
}


.bridal-lash-wrapper>div {
    display: none;
    
}



/* header ends */





/* packages starts */



.packages{
    margin: 40px 0;
    padding: 0 15px;
    padding-top: 45px;


}
.packages>.container>h1{
    color: #f9c352;
    margin-bottom: 30px;
    animation:slidedownY 1s ease-in-out forwards ;

}
.packages-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.packages-wrapper>div{
    
    width: 30%;
    background-color: #4D3B3B;
    border: 3px solid #4D3B3B;
    border-radius: 5px;
    padding: 10px;
    animation:slidedownY 1s ease-in-out forwards ;


}


.packages-wrapper>div>div:nth-child(1)>img{
    border-radius: 10px;
}
.packages-wrapper>div>h3{
    color: #fff;
    margin-top: 10px;
    letter-spacing: 2px;
    font-weight: 300;
    height: 46px;
}
.packages-wrapper>div>div:nth-child(3){
    display: flex;
    align-items: center;
    gap: 5px;
}
.packages-wrapper>div>div:nth-child(3)>span{
    color: #f9c352;
    margin: 15px 0;
    font-size: 20px;
    font-weight: 300;
}
.packages-wrapper>div>button{
    color: #fff;
    background-color: #F9C352;
    font-size: 18px;
    font-weight: 300;
    text-shadow: 0 0 20px #000;
    letter-spacing: 1px;
    padding: 8px 25px;
    border-radius: 5px;
    border: none;
    width: 100%;
    cursor: pointer;


    position: relative;
    overflow: hidden;
    transition: color 0.7s ease;
    

}

.packages-wrapper>div>button::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #D48A25; /* Color filling */
    transition: width 0.7s ease;
    z-index: 1;
}
.packages-wrapper>div>button:hover::before {
    width: 100%;


}


.packages-wrapper>div>button>span {
    position: relative;
    z-index: 2;
}






/* packages ends */



/* animation starts */

@keyframes slidedownY{
    0%{
        opacity: 0;
        transform: translateY(-60px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slidedownX{
    0%{
        opacity: 0;
        transform: translateX(-60px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}




/* animation ends */




/* media query starts */


@media screen and (max-width:1000px){
   



    .bridal-lash-wrapper>nav {
        position: absolute;
        flex-direction: column;
        top: 50px;
        left: -60%;
        width: 50%;
        align-items: start;
        background-color: #2f2325;
        height: 100vh;
        padding-left: 20px;
        padding-top: 20px;
        gap: 40px;
        z-index: 1000;
    }

    .bridal-lash-wrapper>div {
        display: flex;
        animation:slidedownY 1s ease-in-out forwards ;

    }
    .bridal-lash-wrapper>span {
        font-size: 25px;
        
    }

    .packages-wrapper{
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    .packages-wrapper>div{
        width: 60%;
    
    }
    



}

@media screen and (max-width:600px){
    .packages-wrapper>div{
        width: 95%;

    }
    
}




/* media query ends */
