* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}



body {
    background-color: #2f2325;
    font-family: "Merriweather Sans", sans-serif;
    font-style: normal;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


/* header starts */

.bridal-lash {
    padding: 15px 15px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #2f2325;

}


.bridal-lash-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;


}

.bridal-lash-wrapper>span {
    font-family: "Dancing Script", cursive;
    font-size: 35px;
    font-weight: 400;
    color: #f9c352;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    height: 45px;
    border-bottom: 4px solid #f9c352;
    animation: slidedownY 1s ease-in-out forwards;

}

.bridal-lash-wrapper>nav>div {
    display: none;
}

.bridal-lash-wrapper>nav {
    display: flex;
    align-items: center;
    gap: 20px;
    animation: slidedownX 1s ease-in-out forwards;


}




.bridal-lash-wrapper>nav>li>a {
    color: #ffffff;
    letter-spacing: 1px;
    position: relative;

}

.bridal-lash-wrapper>nav>li>a:hover {
    color: #f9c352;
}

.bridal-lash-wrapper>nav>li>a::after {
    content: '';
    background-color: #f9c352;
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transition: transform 300ms ease-in;


}

.bridal-lash-wrapper>nav>li>a:hover::after {
    transform: scaleX(1);


}


.bridal-lash-wrapper>div {
    display: none;

}



/* header ends */





/* packages starts */



.packages {
    margin: 40px 0;
    padding: 0 15px;
    padding-top: 80px;


}

.packages>.container>h1 {
    color: #f9c352;
    margin-bottom: 30px;
    animation: slidedownX 1s ease-in-out forwards;

}

.packages-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.packages-wrapper>div {

    width: 30%;
    background-color: #4D3B3B;
    border: 3px solid #4D3B3B;
    border-radius: 5px;
    padding: 10px;
    animation: slidedownY 1s ease-in-out forwards;

    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.2);



}


.packages-wrapper>div>div:nth-child(1)>img {
    border-radius: 10px;
}

.packages-wrapper>div>h3 {
    color: #fff;
    margin-top: 10px;
    letter-spacing: 2px;
    font-weight: 300;
    height: 46px;
}

.packages-wrapper>div>div:nth-child(3) {
    display: flex;
    align-items: center;
    gap: 5px;
}

.packages-wrapper>div>div:nth-child(3)>span {
    color: #f9c352;
    margin: 15px 0;
    font-size: 20px;
    font-weight: 300;
}

.packages-wrapper>div>button {
    color: #fff;
    background-color: #F9C352;
    font-size: 18px;
    font-weight: 300;
    text-shadow: 0 0 20px #000;
    letter-spacing: 1px;
    padding: 8px 25px;
    border-radius: 5px;
    border: none;
    width: 100%;
    cursor: pointer;


    position: relative;
    overflow: hidden;
    transition: color 0.7s ease;


}

.packages-wrapper>div>button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #D48A25;
    /* Color filling */
    transition: width 0.7s ease;
    z-index: 1;
}

.packages-wrapper>div>button:hover::before {
    width: 100%;


}


.packages-wrapper>div>button>span {
    position: relative;
    z-index: 2;
}






/* packages ends */



/* customize section starts */


.customize {
    margin: 40px 0;
    padding: 0 15px;


}

.customize>.container>h1 {
    color: #f9c352;
    margin-bottom: 30px;
    animation: slidedownY 1s ease-in-out forwards;

}

.customize-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.customize-wrapper>div {

    width: 30%;
    background-color: #4D3B3B;
    border: 3px solid #4D3B3B;
    border-radius: 5px;
    padding: 10px;
    animation: slidedownY 1s ease-in-out forwards;

    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.2);



}


.customize-wrapper>div>div:nth-child(1)>img {
    border-radius: 10px;
}

.customize-wrapper>div>h3 {
    color: #fff;
    margin-top: 10px;
    letter-spacing: 2px;
    font-weight: 300;
}

.customize-wrapper>div>div:nth-child(3) {
    display: flex;
    align-items: center;
    gap: 5px;
}

.customize-wrapper>div>div:nth-child(3)>span {
    color: #f9c352;
    margin: 15px 0;
    font-size: 20px;
    font-weight: 300;
}

.customize-wrapper>div>button {
    color: #fff;
    background-color: #F9C352;
    font-size: 18px;
    font-weight: 300;
    text-shadow: 0 0 20px #000;
    letter-spacing: 1px;
    padding: 8px 25px;
    border-radius: 5px;
    border: none;
    width: 100%;
    cursor: pointer;


    position: relative;
    overflow: hidden;
    transition: color 0.7s ease;


}

.customize-wrapper>div>button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #D48A25;
    /* Color filling */
    transition: width 0.7s ease;
    z-index: 1;
}

.customize-wrapper>div>button:hover::before {
    width: 100%;


}


.customize-wrapper>div>button>span {
    position: relative;
    z-index: 2;
}






/* customize section ends */



/* products section starts */

.products {
    margin: 40px 0;
}

.products>.container>h1 {
    color: #f9c352;
}

.products-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 100px 15px;
}

.products-wrapper>div {
    text-align: center;
    align-content: center;
    width: 30%;
    height: 165px;
    border: 3px solid #f9c352;
    clip-path: polygon(96% 0%, 100% 15%, 100% 100%, 8% 100%, 0% 95%, 0% 0%);
    padding: 20px 10px;
}

.products-wrapper>div>h4 {
    color: white;
    letter-spacing: 3px;
    font-weight: 300;
}

.products-wrapper>div:nth-child(3)>div {
    height: 100px;
    align-content: center;
}





/* products section ends */




/* list section starts */


.list {
    margin: 40px 0;
}

.list>.container>h1 {
    color: #f9c352;
    margin: 40px 0;

}

.list-wrapper {
    padding: 40px 15px;
    background-color: #4D3B3B;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;


}

.list-wrapper>div {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.list-wrapper>div>div:nth-child(1) {
    width: 15%;
}

.list-wrapper>div>div:nth-child(1)>img {
    border-radius: 10px;
}


.list-wrapper>div>div:nth-child(2) {
    width: 70%;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list-wrapper>div>div:nth-child(2)>div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-wrapper>div>div:nth-child(2)>div:nth-child(1)>h4 {
    color: #fff;
    font-size: 1vw;
}

.list-wrapper>div>div:nth-child(2)>div:nth-child(1)>div>span {
    color: #fff;
    font-size: 1vw;
}

.list-wrapper>div>div:nth-child(2)>div:nth-child(1)>div {
    display: flex;
    align-items: center;
}

.list-wrapper>div>div:nth-child(2)>div:nth-child(2) {
    display: flex;
    gap: 50px;
    align-items: center;

}

.list-wrapper>div>div:nth-child(2)>div:nth-child(2)>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 5px 5px;
    width: 100px;

}

.list-wrapper>div>div:nth-child(2)>div:nth-child(2)>span {
    background-color: black;
    color: #fff;
    padding: 6px 25px;
    border-radius: 5px;
    cursor: pointer;

}



.estimate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: #f9c352;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

}

.estimate>span:nth-child(2) {
    display: flex;
    align-items: center;

}

.estimate>span:nth-child(1),
.estimate>span:nth-child(2)>span {
    font-size: 2vw;
}














/* list section ends */



/* animation starts */

@keyframes slidedownY {
    0% {
        opacity: 0;
        transform: translateY(-60px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slidedownX {
    0% {
        opacity: 0;
        transform: translateX(-60px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}




/* animation ends */




/* media query starts */


@media screen and (max-width:1000px) {
    .bridal-lash-wrapper>nav>div {
        display: flex;
        margin-top: -10px;
    }

    .bridal-lash-wrapper>nav div>span {
        color: #f9c352;
        font-family: "Dancing Script", cursive;
        font-size: 35px;
        font-weight: 400;
        color: #f9c352;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        height: 45px;
    }

    .bridal-lash-wrapper>nav {
        position: absolute;
        flex-direction: column;
        top: 0px;
        left: -100%;
        width: 60%;
        align-items: center;
        background-color: #2f2325;
        height: 100vh;
        padding-left: 20px;
        padding-top: 25px;
        gap: 40px;
        z-index: 1000;
    }


    .bridal-lash-wrapper>div {
        display: flex;
        animation: slidedownY 1s ease-in-out forwards;

    }

    .bridal-lash-wrapper>span {
        font-size: 25px;

    }

    .packages {
        padding-top: 55px;
    }

    .packages-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .packages-wrapper>div {
        width: 60%;

    }


    .customize-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .customize-wrapper>div {
        width: 60%;

    }


    .products {
        padding: 0 15px;

    }

    .products-wrapper {
        flex-direction: column;
        gap: 30px;
        padding: 30px 15px;

    }

    .products-wrapper>div {
        width: 60%;
    }

    .list {
        padding: 0 15px;
    }










}

@media screen and (max-width:600px) {
    .packages-wrapper>div {
        width: 95%;

    }


    .customize-wrapper>div {
        width: 95%;

    }

    .products-wrapper>div {
        width: 90%;
    }


    .list-wrapper {
        padding: 10px;
    }

    .list-wrapper>div {
        align-items: center;
    }

    .list-wrapper>div>div:nth-child(2) {
        padding: 5px 10px;
        gap: 10px;
    }

    .list-wrapper>div>div:nth-child(2)>div:nth-child(1) {
        flex-direction: column-reverse;
        align-items: start;

    }

    .list-wrapper>div>div:nth-child(2)>div:nth-child(2) {
        gap: 10px;

    }

    .list-wrapper>div>div:nth-child(2)>div:nth-child(1)>h4,
    .list-wrapper>div>div:nth-child(2)>div:nth-child(1)>div>span,
    .list-wrapper>div>div:nth-child(2)>div:nth-child(2)>span,
    .estimate>span:nth-child(1),
    .estimate>span:nth-child(2)>span {
        font-size: 15px;
    }

    .list-wrapper>div>div:nth-child(1) {
        width: 30%;
        height: 50%;
    }







}




/* media query ends */